___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
    sphere = (4/3)*(3.14)*rad**3
    return sphere

In [2]:
# Check
vol(2)

33.49333333333333

In [3]:
vol(2)

33.49333333333333

In [4]:
vol(4)

267.94666666666666

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [6]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in the range of {low} and{high}')
    else:
              print('Out of range')

In [7]:
# Check
ran_check(5,2,7)

5 is in the range of 2 and7

In [8]:
ran_check(5,6,9)

Out of range

In [ ]:
# Boolean return

In [9]:
def ran_check_bool(num,low,high):
    return num in range(low,high+1)

In [11]:
# Check
ran_check_bool(5,2,7)

True

In [12]:
ran_check(5,6,9)

Out of range

If you only wanted to return a boolean:

In [5]:
def ran_bool(num,low,high):
    pass

In [6]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [14]:
def up_low(s):
    
    #2 variable method
    
    uppercase = 0
    lowercase =0
    
    for char in s:
        if char.isupper():
            uppercase +=1
        elif char.islower():
            lowercase +=1
        else:   #punctaution
            pass
    print('original string:' ,s)
    print(f'lower string count:{lowercase}')
    print(f'Upper string count:{uppercase}')

In [15]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

original string: Hello Mr. Rogers, how are you this fine Tuesday?
lower string count:33
Upper string count:4

In [17]:
s= 'The quick fox jumps over the lazy Dog'
up_low(s)

original string: The quick fox jumps over the lazy Dog
lower string count:28
Upper string count:2

In [28]:
def up_low_dic(s):
    
    # dictionary method
    d={'upper': 0,'lower':0}
    for char in s:
            if char.isupper():
                d['upper']+=1
            elif char.islower():
                d['lower'] +=1
            else:  
                pass
    print('original string:' ,s)
    print('Lower string count:',d['lower'])
    print('upper string count:',d['upper'])

In [30]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low_dic(s)

original string: Hello Mr. Rogers, how are you this fine Tuesday?
Lower string count: 33
upper string count: 4

In [31]:
s= 'The quick fox jumps over the lazy Dog'
up_low_dic(s)

original string: The quick fox jumps over the lazy Dog
Lower string count: 28
upper string count: 2

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [32]:
def unique_list(lst):
    return set(lst)

In [34]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [35]:
unique_list([1,1,2,3,3,4,5,5,6,6,7,7,8,8,9,99])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99}

In [44]:
# method 2
def unique_list_1(lst):
    list_num=[]
    for num in lst:
        if num not in list_num:
            list_num.append(num)
    return list_num

In [45]:
unique_list_1([1,1,2,3,3,4,5,5,6,6,7,7,8,8,9,99])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 99]

In [46]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [47]:
def multiply(numbers):  
    total = 1
    for num in numbers:
        total= total*num
    return total

In [48]:
multiply([1,2,3,-4])

-24

In [50]:
multiply([12,12])

144

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [64]:
def palindrome(s):
    # remove the space
    s=s.replace(' ','')
    
    # reverse
    s=s[::-1]
    s=s.lower()
    return s

In [65]:
palindrome('helleh')

'helleh'

In [66]:
palindrome('madam')

'madam'

In [67]:
palindrome('Madam')

'madam'

In [68]:
palindrome('racecar')

'racecar'

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [61]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    str1 = str1.replace(' ','')
    str1= str1.lower()
    str1=set(str1)
    return str1 ==alphaset

In [62]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [63]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!