<a href="https://colab.research.google.com/github/SubashriR-DS/SubashriR-DS/blob/main/Python_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basically we have two pgmming languages
''' ** 1. Functional Programming
2. Object oreiented programming languages
class is a blue print of an objects ** '''

In [ ]:
class Account:
  account_no =1
  balance=1000

In [ ]:
Account

__main__.Account

In [1]:
class Account1:
  def __init__(self,name,accNumber,accbalance):
    self.name = name
    self.account_no = accNumber
    self.bal=accbalance

In [2]:
# creating object of a class
account1= Account1('aaa',111,1000)
account2 = Account1('bbb',121,2000)
account3 = Account1('ccc',131,2000)

In [3]:
#checking the values gien to the objects

account1.bal

1000

In [4]:
account2.bal

2000

In [5]:
account3.bal

2000

In [6]:
account1.name

'aaa'

In [7]:
account2.account_no

121

In [12]:
class Account1: #constructor
  def __init__(self,name,accNumber,accbalance):
    self.name = name
    self.account_no = accNumber
    self.bal=accbalance

  def __str__(self): # printing the stmt -return Account 111 has a amount $ 2000
   return f'Account {self.account_no} has a amount $ {self.bal}'

In [14]:
# creating object of a class
account1= Account1('aaa',111,1000)
account2 = Account1('bbb',121,2000)
account3 = Account1('ccc',131,2000)

In [15]:
print(account1)

Account 111 has a amount $ 1000

In [16]:
print(account2)

Account 121 has a amount $ 2000

In [17]:
#create two methods for the class
def deposit(self,amount):
  self.bal= self.bal+amount

In [ ]:
#create two methods for the class
def withdraw(self,amount):
  self.bal= self.bal-amount

In [18]:
account1.deposit(200)

AttributeError: 'Account1' object has no attribute 'deposit'

In [61]:
class Account1: #constructor
  def __init__(self,name,accNumber,accbalance):
    self.name = name
    self.account_no = accNumber
    self.bal=accbalance

  #create user defined fn/two methods for the class
  def deposit(self,amount):
    if amount > 0:
      self.bal= self.bal+amount
    else:
      return f' Please enter the positive amount'

  def withdraw(self, amount):
      if amount > 0 and self.bal >= amount:
        self.bal=self.bal-amount
      else:
        return f'Amount should be lesser than the balance'





  def __str__(self): # printing the stmt -return Account 111 has a amount $ 2000
   return f'Account {self.account_no} has a amount $ {self.bal}'

In [62]:
# creating object of a class
account1= Account1('aaa',111,1000)
account2 = Account1('bbb',121,2000)
account3 = Account1('ccc',131,2000)

In [63]:
account1.deposit(200)

In [64]:
account1.bal

1200

In [65]:
account1.deposit(300)

In [66]:
account1.bal

1500

In [67]:
account1.deposit(-300)  #it should be for -ve deposit,no logical,big fault, so add one condition in deposit class

' Please enter the positive amount'

In [68]:
account1.bal

1500

In [69]:
account1.withdraw(500)

In [70]:
account1.bal

1000

In [71]:
account1.withdraw(1200) # it should be less than the bal ,so add one more condition

'Amount should be lesser than the balance'

In [72]:
account1.bal

1000

In [83]:
class Account1: #constructor

  counter =1  # class variable cannot be reset but inside the init function is reset every time

  def __init__(self,name,accbalance):
    self.name = name

    Account1.counter +=1
    self.account_no = Account1.counter

    self.bal=accbalance

  #create user defined fn/two methods for the class
  def deposit(self,amount):
    if amount > 0:
      self.bal= self.bal+amount
    else:
      return f' Please enter the positive amount'

  def withdraw(self, amount):
      if amount > 0 and self.bal >= amount:
        self.bal=self.bal-amount
      else:
        return f'Amount should be lesser than the balance'

In [78]:
acc1= Account1('FFF',1000)
acc2 = Account1('GGGG',1100)
acc3= Account1('HHHH',4000)

In [79]:
acc1.account_no

2

In [80]:
acc2.account_no

3

In [81]:
acc3.account_no

4